:root {
  --logo-font-family: "Raleway", sans-serif;
  --font-family: "Roboto", sans-serif;
  --title-color: #2e2f42;
  --text-color: #434455;
  --hero-background-color: #2e2f42;
  --page-background-color: #ffffff;
  --hero-title-color: #ffffff;
  --dark-version-text-color: #f4f4fd;
  --team-background-color: #f4f4fd;
  --logo-color: #4d5ae5;
  --button-background-color: #4d5ae5;
  --button-background-activ-color: #404bbf;
  --button-border-color: #e7e9fc;
  --hover-color: #404bbf;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========== COMMON ========== */

/* * {
  outline: 2px solid tomato;
} */

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.image {
  display: block;
}

.logo {
  color: var(--title-color);
  font-family: var(--logo-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}

.link {
  display: block;
  text-decoration: none;
}

.title {
  margin: 0 0;

  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

/* ========== /COMMON ========== */

/* ========== BODY ========== */

body {
  font-family: var(--font-family);
  background-color: var(--page-background-color);
}

/* ========== /BODY ========== */

/* ========== HEADER ========== */

.header {
  border-bottom: 1px solid var(--button-border-color);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
}

.logo-part {
  color: var(--logo-color);
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-link {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color var(--transition);
}

.header-link:hover,
.header-link:focus {
  color: var(--hover-color);
}

.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;

  background-color: var(--hover-color);
  border-radius: 2px;
  opacity: 0;
  transform: scale(0);
  transition: opacity var(--transition), transform var(--transition);
}

.header-link:hover::after,
.header-link:focus::after {
  opacity: 1;
  transform: scale(1);
}

.header-address {
  margin-left: auto;
}

.header-list {
  display: flex;
}

.header-mail {
  margin-right: 40px;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;

  transition: color var(--transition);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--hover-color);
}

.header-tel {
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;

  transition: color var(--transition);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--hover-color);
}

/* ========== /HEADER ========== */

/* ========== PORTFOLIO ========== */

.portfolio-container {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-list {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  min-width: 69px;

  color: var(--button-background-color);
  background-color: var(--dark-version-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border-radius: 4px;
  border: 1px solid var(--button-border-color);
  cursor: pointer;
  transition: color var(--transition), background-color var(--transition),
    border-color var(--transition), box-shadow var(--transition);
}

.button:hover,
.button:focus {
  color: var(--page-background-color);
  background-color: var(--button-background-activ-color);

  border-color: #404bbf;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: 360px;

  background-color: var(--page-background-color);
  cursor: pointer;
  transition: box-shadow var(--transition);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(77, 90, 229, 0.9);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition), opacity var(--transition),
    visibility var(--transition);
}

.portfolio-item-link:is(:hover, :focus) .overlay {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.overlay-text {
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-version-text-color);
}

.portfolio-text {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;

  border: 1px solid var(--button-border-color);
  border-top: none;
}

.portfolio-text:hover,
.portfolio-text:focus {
  border-color: var(--dark-version-text-color);
}

.subtitle {
  margin-top: 0;
  margin-bottom: 8px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-item-type {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 0;
}

/* ========== /PORTFOLIO ========== */

/* ========== FOOTER ========== */

.footer {
  background-color: var(--hero-background-color);
}

.footer-container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.footer-content {
  width: 264px;
  margin-right: 120px;
}

.footer-text {
  margin: 0 0;

  color: var(--dark-version-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;

  color: var(--dark-version-text-color);
  font-family: var(--logo-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer-social-container {
  display: flex;
  flex-direction: column;
  align-self: start;
  margin-right: 80px;
}

.footer-social-title {
  margin-bottom: 16px;
  text-align: left;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--page-background-color);
}

.footer-social-list {
  display: flex;
  gap: 24px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: #f4f4fd;
  transition: background-color var(--transition);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--button-background-color);
}

.footer-social-icon {
  fill: #8e8f99;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: #f4f4fd;
}

.footer-subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: left;
}

.footer-subscribe-form {
  display: flex;
  align-items: start;
  gap: 24px;
}

.footer-subscribe-data {
  padding: 11px 16px;

  font-style: 18px;
  /* line-height: ; */
  letter-spacing: 0.02em;
  color: #ffffff;

  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-subscribe-data::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-subscribe-btn {
  display: flex;
  gap: 16px;
  padding: 8px 24px;

  border-radius: 4px;
  border: none;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--button-background-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition);
}
.footer-subscribe-btn:is(:hover, :focus) {
  background-color: var(--hover-color);
}

.footer-subscribe-btn-text {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
}

.footer-subscribe-btn-icon {
  fill: #ffffff;
}

/* ========== /FOOTER ========== */
