:root {
  --logo-font-family: "Raleway", sans-serif;
  --font-family: "Roboto", sans-serif;
  --title-color: #2e2f42;
  --text-color: #434455;
  --hero-background-color: #2e2f42;
  --page-background-color: #ffffff;
  --hero-title-color: #ffffff;
  --dark-version-text-color: #f4f4fd;
  --team-background-color: #f4f4fd;
  --logo-color: #4d5ae5;
  --button-background-color: #4d5ae5;
  --button-background-activ-color: #404bbf;
  --button-border-color: #e7e9fc;
}
/* ========== COMMON ========== */
/* * {
  outline: 2px solid tomato;
} */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.image {
  display: block;
}
.logo {
  color: var(--title-color);
  font-family: var(--logo-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}
.link {
  display: block;
  text-decoration: none;
}
.title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
/* ========== /COMMON ========== */

/* ========== BODY ========== */
body {
  font-family: var(--font-family);
  background-color: var(--page-background-color);
}
/* ========== /BODY ========== */

/* ========== HEADER ========== */
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 76px;
}
.logo-part {
  color: var(--logo-color);
}
.header-menu {
  display: flex;
}
.header-link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-link {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-menu-item:not(:last-child) {
  margin-right: 40px;
}
.header-address {
  margin-left: auto;
}
.header-list {
  display: flex;
}
.header-mail {
  margin-right: 40px;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.header-tel {
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
/* ========== /HEADER ========== */

/* ========== PORTFOLIO ========== */
.portfolio-container {
  padding-top: 96px;
  padding-bottom: 120px;
}
.btn-list {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
}
.btn-list-item:not(:last-child) {
  margin-right: 24px;
  align-items: center;
}
.button {
  display: inline-block;
  padding: 12px 24px;
  min-width: 69px;

  color: var(--button-background-color);
  background-color: var(--dark-version-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border-radius: 4px;
  border: 1px solid var(--button-border-color);
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: var(--page-background-color);
  background-color: var(--button-background-activ-color);

  border-color: #404bbf;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: 360px;
}
.subtitle {
  padding-top: 32px;
  margin-top: 0;
  margin-bottom: 8px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-item-type {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 0;
}
.portfolio-list li {
  background-color: var(--page-background-color);
}
/* ========== /PORTFOLIO ========== */

/* ========== FOOTER ========== */
.footer {
  background-color: var(--hero-background-color);
}
.footer-container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-content {
  width: 264px;
  margin-right: auto;
}
.footer-text {
  margin: 0 0;

  color: var(--dark-version-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;

  color: var(--dark-version-text-color);
  font-family: var(--logo-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
/* ========== /FOOTER ========== */
