:root {
  --logo-font-family: "Raleway", sans-serif;
  --font-family: "Roboto", sans-serif;
  --title-color: #2e2f42;
  --text-color: #434455;
  --hero-background-color: #2e2f42;
  --page-background-color: #ffffff;
  --hero-title-color: #ffffff;
  --dark-version-text-color: #f4f4fd;
  --team-background-color: #f4f4fd;
  --logo-color: #4d5ae5;
  --button-background-color: #4d5ae5;
  --hover-color: #404bbf;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========== COMMON ========== */

/* * {
  outline: 2px solid tomato;
} */

.container {
  padding: 0 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.image {
  display: block;
}

.logo {
  padding: 1.5px 0;
  color: var(--title-color);
  font-family: var(--logo-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}

.link {
  display: block;
  text-decoration: none;
}

.title {
  margin: 0 0;

  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}

/* ========== /COMMON ========== */

/* ========== BODY ========== */

body {
  font-family: var(--font-family);
  background-color: var(--page-background-color);
}

/* ========== /BODY ========== */

/* ========== HEADER ========== */

.header {
  border-bottom: 1px solid var(--button-border-color);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 22px;
}

.logo-part {
  color: var(--logo-color);
}

.header-menu {
  display: none;
}

.header-address {
  display: none;
}

.mobile-menu-open {
  padding: 0;

  height: 22px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #ffffff;
  transition: opacity var(--transition), visibility var(--transition),
    transform var(--transition);
}

.mobile-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.05);
}

.mobile-menu-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.mobile-menu-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 7px;

  width: 24px;
  height: 24px;

  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
  background-color: rgba(231, 233, 252, 0.1);
  cursor: pointer;
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  transition: color var(--transition);
}

.mobile-menu-link:is(:hover, :focus) {
  color: var(--hover-color);
}

.mobile-menu-address {
  margin-bottom: 48px;
}

.mobile-menu-tel {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-style: normal;
  color: var(--text-color);

  transition: color var(--transition);
}

.mobile-menu-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--text-color);

  transition: color var(--transition);
}

.mobile-menu-tel:is(:hover, :focus),
.mobile-menu-mail:is(:hover, :focus) {
  color: var(--hover-color);
}

.mobile-menu-social-list {
  display: flex;
  gap: 56px;
}

.mobile-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  border-radius: 50%;
  background-color: #f4f4fd;
  transition: background-color var(--transition);
}

.mobile-menu-social-link:is(:hover, :focus) {
  background-color: var(--hover-color);
}

.mobile-menu-social-icon {
  fill: #8e8f99;
  transition: fill var(--transition);
}

.mobile-menu-social-link:is(:hover, :focus) .mobile-menu-social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 480px) {
  .mobile-menu-wrap {
    width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .mobile-menu-open {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
    gap: 120px;
  }

  .header-menu {
    display: flex;
    gap: 40px;
  }

  .header-link {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color var(--transition);
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--hover-color);
  }

  .header-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    background-color: var(--hover-color);
    border-radius: 2px;
    opacity: 0;
    transform: scale(0);
    transition: opacity var(--transition), transform var(--transition);
  }

  .header-link:hover::after,
  .header-link:focus::after {
    opacity: 1;
    transform: scale(1);
  }

  .header-address {
    display: block;
  }

  .header-mail {
    padding-top: 16px;
    padding-bottom: 6px;

    color: var(--text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-style: normal;

    transition: color var(--transition);
  }

  .header-mail:hover,
  .header-mail:focus {
    color: var(--hover-color);
  }

  .header-tel {
    padding-top: 6px;
    padding-bottom: 16px;

    color: var(--text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-style: normal;

    transition: color var(--transition);
  }

  .header-tel:hover,
  .header-tel:focus {
    color: var(--hover-color);
  }
}

@media screen and (min-width: 1200px) {
  .header-nav {
    gap: 76px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-mail {
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .header-tel {
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* ========== /HEADER ========== */

/* ========== HERO ========== */

.hero {
  max-width: 428px;
  margin: 0 auto;

  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../Studio/images/hero/mobile-hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-container {
  padding-top: 112px;
  padding-bottom: 112px;
}

.hero-button {
  display: block;
  margin: auto auto;
  padding: 16px 32px;

  color: var(--hero-title-color);
  background-color: var(--button-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-color);
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 72px;

  max-width: 320px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--hero-title-color);
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../Studio/images/hero/tablet-hero-bg.jpg);
  }

  .hero-container {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../Studio/images/hero/hero-background.jpg);
  }

  .hero-container {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

/* ========== /HERO ========== */

/* ========== ADVANTAGES ========== */

.advantages-container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-item:not(:last-child) {
  margin-bottom: 72px;
}

.advantages-icon-conainer {
  display: none;
}

.advantages-title {
  margin-bottom: 8px;

  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.advantages-text {
  margin: 0;

  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .advantages-item {
    width: calc(50% - 12px);
  }
}

@media screen and (min-width: 1200px) {
  .advantages-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .advantages-item {
    max-width: calc(100% / 4);
  }

  .advantages-icon-conainer {
    display: block;
    padding: 24px 100px;
    margin-bottom: 8px;

    background-color: #f4f4fd;
  }

  .advantages-icon {
    display: block;
  }

  .advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-text {
    font-weight: 400;
  }
}

/* ========== /ADVANTAGES ========== */

/* ========== ABOUT ========== */

.about {
  display: none;
}

@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
  .about-container {
    padding-bottom: 120px;
  }

  .about-title {
    margin-bottom: 72px;
  }

  .about-list {
    display: flex;
    gap: 24px;
  }

  .about-item {
    max-width: 360px;
  }

  .about-image {
    border: 1px solid #e7e9fc;
  }
}

/* ========== /ABOUT ========== */

/* ========== TEAM ========== */

.team {
  background-color: var(--team-background-color);
}

.team-container {
  padding: 96px 52px;
}

.team-title {
  margin-bottom: 72px;
}

.team-item {
  border-radius: 0 0 4px 4px;
  background-color: var(--page-background-color);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item:not(:last-child) {
  margin-bottom: 72px;
}

.team-image {
  width: 100%;
  height: auto;
}

.team-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
}

.team-participant {
  margin-top: 0;
  margin-bottom: 8px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-participant-funktion {
  margin-top: 0;
  margin-bottom: 8px;

  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-social-list {
  display: flex;
  gap: 24px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: #f4f4fd;
  transition: background-color var(--transition);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--button-background-color);
}

.team-social-icon {
  fill: #8e8f99;
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-container {
    padding: 108px 82px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-container {
    padding: 120px 16px;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

/* ========== /TEAM ========== */

/* ========== CUSTOMERS ========== */

.customers-container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

.customers-link {
  display: block;
  padding: 15px 39px;

  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color var(--transition);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--hover-color);
}

.customers-icon {
  max-width: 110px;
  height: 56px;

  fill: #8e8f99;
  transition: fill var(--transition);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--hover-color);
}

@media screen and (min-width: 480px) {
  .customers-list {
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    column-gap: 16px;
  }
}

@media screen and (min-width: 768px) {
  .customers-container {
    padding: 96px 108px;
  }

  .customers-list {
    column-gap: 24px;
  }

  .customers-link {
    padding: 15px 31px;
  }

  .customers-icon {
    max-width: 104px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-container {
    padding: 120px 16px;
  }

  .customers-list {
    gap: 24px;
  }

  .customers-link {
    padding: 15px 31px;
  }
}

/* ========== /CUSTOMERS ========== */

/* ========== FOOTER ========== */

.footer {
  background-color: var(--hero-background-color);
}

.footer-container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-content {
  margin: 0 auto;
  margin-bottom: 72px;

  max-width: 268px;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;

  color: var(--dark-version-text-color);
  font-family: var(--logo-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.footer-text {
  margin: 0 0;

  color: var(--dark-version-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-container {
  margin: 0 auto;
  margin-bottom: 72px;

  max-width: 208px;
}

.footer-social-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: #f4f4fd;
  transition: background-color var(--transition);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--hover-color);
}

.footer-social-icon {
  fill: #8e8f99;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: #f4f4fd;
}

.footer-subscribe-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.footer-subscribe-data {
  margin-bottom: 16px;
  padding: 11px 16px;

  width: 100%;
  font-style: 18px;
  letter-spacing: 0.02em;
  color: #ffffff;

  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-subscribe-data::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-subscribe-btn {
  display: flex;
  gap: 16px;
  margin: 0 auto;
  padding: 8px 24px;

  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: var(--button-background-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition);
}

.footer-subscribe-btn:is(:hover, :focus) {
  background-color: var(--hover-color);
}

.footer-subscribe-btn-text {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
}

.footer-subscribe-btn-icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
  }

  .footer-content {
    margin-right: 24px;
    margin-left: 0;
  }

  .footer-logo {
    text-align: left;
  }

  .footer-social-container {
    margin: 0;
  }

  .footer-social-title {
    text-align: left;
  }

  .footer-subscribe-wrap {
    width: 453px;
  }

  .footer-subscribe-title {
    text-align: left;
  }

  .footer-subscribe-form {
    display: flex;
    align-items: start;
    gap: 24px;
  }

  .footer-subscribe-data {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    padding: 100px 16px;
    display: flex;
    flex-wrap: nowrap;
  }

  .footer-content {
    max-width: 264px;
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-social-container {
    display: flex;
    flex-direction: column;
    align-self: start;
    margin-right: 80px;
  }

  .footer-social-list {
    display: flex;
    gap: 24px;
  }
}

/* ========== /FOOTER ========== */

/* ========== MODAL WINDOW ========== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding: 72px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;

  /* width: 408px;
  height: 584px; */

  background-color: #ffffff;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  position: absolute;
  top: 24px;
  right: 24px;

  background-color: #f4f4fd;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--transition);
}

.modal-close-btn:is(:hover, :focus) {
  background-color: var(--hover-color);
}

.modal-button-icon {
  fill: #2e2f42;
}

.modal-close-btn:is(:hover, :focus) .modal-button-icon {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--title-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-form-input-desc {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-input-wrapper {
  position: relative;

  width: 100%;
}

.modal-form-input {
  padding: 11px 0 11px 38px;

  width: 100%;
  font-style: 18px;
  /* line-height: ; */
  letter-spacing: 0.02em;
  color: #2e2f42;

  outline: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border var(--transition);
}

.modal-form-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);

  fill: #2e2f42;
  transition: fill var(--transition);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: #4d5ae5;
}

.modal-form-message {
  padding: 8px 16px;
  margin-bottom: 16px;

  width: 100%;
  height: 120px;
  font-style: 18px;
  /* line-height: ; */
  letter-spacing: 0.02em;
  color: #2e2f42;

  resize: none;
  overflow: auto;
  outline: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}

.modal-form-message:focus {
  border: 1px solid #4d5ae5;
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-check-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-check-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 3px;
  margin-right: 8px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color var(--transition), border-color var(--transition);
}

.modal-form-check:checked + .modal-form-check-desc .modal-form-check-icon-wrap {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.modal-form-check-icon {
  fill: transparent;
  cursor: pointer;
  transition: fill var(--transition);
}

.modal-form-check:checked + .modal-form-check-desc .modal-form-check-icon {
  fill: #f4f4fd;
}

.modal-form-check-desc .modal-form-check-desc-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-form-submit-btn {
  padding: 16px 32px;
  align-self: center;

  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;

  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  transition: background-color var(--transition);
}

.modal-form-submit-btn:is(:hover, :focus) {
  background-color: var(--hover-color);
}

/* ========== /MODAL WINDOW ========== */
